<% if false %>

<div class="channel">
  <h2><%= link_to channel.name, channel %></h2>
  <div class="details">
    <%= number_to_currency(product.price) %>
    <% if channel.category %>
      | Category: <%= channel.category.name %>
    <% end %>
  </div>
</div>
<% end %>

<tr>
   <td><%= channel.name %></td>
   <td><%= link_to 'Show Videos ', videos_channel_path(channel) %></td>
   <br />
</tr>
 

