<% title "All Channels" %>

<ul>
<%= form_tag channels_path, :method => 'get' do %>
  <p>
    <%= text_field_tag :search, params[:search] %>
    <%= submit_tag "Search", :name => nil %>
  </p>
<% end %>
</ul>

<ul>                   
  <% for channel in @channels %>
    <li class="arrow">
      <%= link_to channel.name, videos_channel_path(channel) %>
      <small class="counter"><%= channel.videos.size %></small>
    </li>

  <% end %>
</ul>

<!--<ul><li class="arrow"><%= link_to "Add New channel", new_channel_path %></li></ul>-->

<% if user_signed_in? %>
      <ul><li><%= link_to "Add My New Channel", new_user_channel_path(current_user) %></li></ul>
      <ul><li><%= link_to "Go To My Channels", channels_user_path(current_user) %></li></ul>
<% end %>

<% if false %>
            <div class="toolbar">
                <h1>All Channels</h1>
                <a class="back" href="#">Home</a>
            </div>
<% end %>

<% if false %>
               <div class="jqt2">
                    <h2>this is a step.</h2>
                    <ul class="videoguide">
                        <li><a href="#">@david</a></li>
                        <li><a href="http://twitter.com/!#/beedesk">@beedesk</a></li>
                        <li><a target="_blank" href="http://twitter.com/!#/davidkaneda333">@david3333</a></li>
                    </ul>
               </div>
<% end %>

<% if false %>
               <div class="toolbar">
                   <a class="back" href="#videos">videos</a>
                   <%= link_to "Add New channel", new_channel_path %>
                </div>
<% end %>
