<% title "All Channels" %>

<script type="text/javascript"><!--
google_ad_client = "ca-pub-0949416212566989";
/* home.videotouch.tv */
google_ad_slot = "4540411187";
google_ad_width = 728;  /* original 728 */
google_ad_height = 90;
//-->
</script>
<script type="text/javascript"
src="http://pagead2.googlesyndication.com/pagead/show_ads.js">
</script>

<p>
<%= form_tag channels_path, :method => 'get', :id => "channels_search" do %>
    <%= text_field_tag :search, params[:search] %>
    <%= submit_tag "Search channels", :name => nil %>
<% end %>

<% if user_signed_in? %>
      <%= link_to "Create New Channel", new_user_channel_path(current_user) %>
<% else %>
      <%= link_to "Create New Channel", new_user_session_path %>
<% end %>


<% if false %>
<!--<%= f.select :language,   Language.all.collect {|p| [ p.name, p.shortname ] } %>-->
<!-- <%= text_field_tag :language, params[:language] %>--->
<!--<p><%= link_to "Advanced Search", new_search_path %></p>-->
<%= debug(@languages) %>
 <%= select_tag :language, @languages.collect {|p| [ p.name, p.shortname ] }  %>

 :multiple => true,:include_blank => true,
<% end %>

<% if false %>
<%= form_tag channels_path, :method => 'get' do %>
 
    <%= select_tag :language, options_from_collection_for_select(@languages, "id", "name"),  :prompt => "All" %>
    <%= submit_tag "Set Language", :name => nil %>
 
<% end %>
<% end %>
 </p>

<div id="channels"><%= render 'channels' %></div>

<!--<%= link_to 'New Channel', new_channel_path %>-->

<% if user_signed_in? %>
      <%= link_to "Create New Channel", new_user_channel_path(current_user) %>
      | <%= link_to "Go To My Channels", channels_user_path(current_user) %>
      <% if current_user.admin? %>
         | <%= link_to "View Users", users_path %>
      <% end %>
<% end %>


<!-- Place this tag where you want the +1 button to render. -->
<div class="g-plusone" data-size="small" data-annotation="inline" data-width="300"></div>

<!-- Place this tag after the last +1 button tag. -->
<script type="text/javascript">
  (function() {
    var po = document.createElement('script'); po.type = 'text/javascript'; po.async = true;
    po.src = 'https://apis.google.com/js/plusone.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(po, s);
  })();
</script>

<% if user_signed_in? %>
<% if current_user.admin? %>


<% end %>
<% end %>

