<!--<p id="notice"><%= notice %></p>-->
    
<p>
  <b>Channel Name:</b>
  <%= @channel.name %>
</p>

<!--<p>
  <b>Channel type:</b>
  <%= @channel.channel_type %>
</p>-->
<!--<p>
  <b>Tags:</b>
  <%= @channel.tags %>
</p>
<p>
  <b>Categories:</b>
  <%= @channel.categories %>
</p>-->

<p>
  <b>Queries:</b>
  <%= "Not defined yet" if @channel.feeds.count == 0 %>
</p>
   <ul><li><%= link_to 'Show Queries', channel_feeds_path(@channel) %></li></ul>


<% if false %>
<ul>
  <% for f in @channel.feeds %>
    <li class="arrow">
      <%= link_to f.name, channel_feed_path(@channel, f) %>
      <!--<%= link_to 'Destroy', channel_feed_path(@channel,f), confirm: 'Are you sure?', method: :delete %>-->
    </li>
  <% end %>
</ul>
<% end %>

<p>
  <b>Language:</b>
  <%= @channel.language %>
</p>
<br />

<% if true %>

<% if can? :update, Channel %>
   <ul><li><%= link_to 'Edit Channel', edit_channel_path(@channel) %></li></ul>
<% end %>

<ul><li><%= link_to 'Destroy channel', @channel, confirm: 'Are you sure?', method: :delete %></li></ul>
<ul><li><%= link_to 'Back to Channel', videos_channel_path(@channel) %></li></ul>

<% end %>





