<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @channel.name %>
</p>

<p>
  <b>Channel type:</b>
  <%= @channel.channel_type %>
</p>

<p>
  <b>Tags:</b>
  <%= @channel.tags %>
</p>

<p>
  <b>Categories:</b>
  <%= @channel.categories %>
</p>

<p>
  <b>Language:</b>
  <%= @channel.language %>
</p>

<h2>Queries</h2>
<% @channel.feeds.each do |feed| %>
  <p>
    <b>Feed name:</b>
    <%= feed.name %>
  </p>
<% end %>

<% if can? :update, @channel %>
   <%= link_to 'Edit', edit_user_channel_path(@user, @channel) %> |
<% end %>

<%= link_to 'Back To All Channels', channels_path %> |
<%= link_to 'Back To My Channels', user_channels_path(@user) %> |
<%= link_to 'Show Queries', channel_feeds_path(@channel) %> |
<%= link_to 'Show Videos', videos_channel_path(@channel) %> 
