<% title 'Channel Info' %>
<% if true %>
     Current default language is <%= @cur_language_name %>.<br />
     Do you want to change language? <%= link_to 'Set Default Language', cookie_new_path %>
<% end %>
<br /><br />
<p>
  <b>Channel Name:</b>
  <%= @channel.name %>
</p>

<% if user_signed_in? %>
<% if current_user.admin? %>
<p>
  <b>Channel type:</b>
  <%= @channel.channel_type %>
</p>

<p>
  <b>Tags:</b>
  <%= @channel.tags %>
</p>

<p>
  <b>Categories:</b>
  <%= @channel.categories %>
</p>

<p>
  <b>Language:</b>
  <%= @channel.language %>
</p>
<% end %>
<% end %>

<h3>Queries</h3>
<% @channel.feeds.each do |feed| %>
  <p>
    <b>Feed name:</b>
    <%= feed.name %>
  </p>
<% end %>

<% if can? :update, @channel %>
   <%= link_to 'Edit', edit_user_channel_path(@user, @channel) %> |
<% end %>

<%= link_to 'Go To All Channels', channels_path %> |
<%= link_to 'Go To My Channels', user_channels_path(@user) %> |
<%= link_to 'Show Queries', channel_feeds_path(@channel) %> |
<%= link_to 'Show Videos', videos_channel_path(@channel) %> 
