<%= form_for([@channel, @feed]) do |f| %>
  <% if @feed.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@feed.errors.count, "error") %> prohibited this feed from being saved:</h2>

      <ul>
      <% @feed.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <ul class="edit rounded">
    <li><%= f.text_field :name, :placeholder => "Query Feed Name" %></li>
    <!--<li><%= f.text_field :feedtype, :placeholder => "public" %></li>-->
    <li><%= f.text_field :queries, :placeholder => "queries: type keywords" %></li>
    <li><%= f.text_field :options, :placeholder => "options: :time => :today" %></li>
    <!--<li><%= f.text_field :keywords, :placeholder => "keywords" %></li>-->
    <li><%= f.number_field :channel_id, :placeholder => @channel.id %></li>
  </ul>
  <%= link_to "Submit", channel_feeds_path(@channel), :class => "submit whiteButton", :method => "POST", :rel => "external" %>

<% end %>
