<% title 'Query Feed Info' %>
<p id="notice"><%= notice %></p>

<p>
  <b>Query feed Name:</b>
  <%= @feed.name %>
</p>

<p>
  <b>Feedtype:</b>
  <%= @feed.feedtype %>
</p>

<p>
  <b>Queries:</b>
  <%= @feed.queries %>
</p>

<p>
  <b>Options:</b>
  <%= @feed.options %>
</p>

<p>
  <b>Keywords:</b>
  <%= @feed.keywords %>
</p>

<p>
  <b>Tags:</b>
  <%= @feed.tags %>
</p>

<p>
  <b>Categories:</b>
  <%= @feed.categories %>
</p>
<p>
  <b>Channel Id:</b>
  <%= @feed.channel_id %>
</p>

<ul><li><%= link_to 'Edit', edit_channel_feed_path(@channel, @feed) %></ul></li>
<ul><li><%= link_to 'Back To Channel', channel_path(@channel) %></ul></li>
<!--<ul><li><%= button_to 'Destroy this query', channel_feed_path(@channel, @feed), :method => "DELETE" %></ul></li>-->






