<h1>My channels</h1>

  <% if @channels.count == 0 %>      
  <h3>My channels are not created yet. </h3>
  <% end %> 

<table>
  <tr>
    <th>Name</th>
    <!--<th>Channel type</th>
    <th>Tags</th>
    <th>Categories</th>
    <th>Language</th>-->
    <th>Videos</th>
    <th></th>
    <th></th>
  </tr>

<% @channels.each do |channel| %>
  <tr>
    <td><%= channel.name %></td>
    <!--<td><%= channel.channel_type %></td>
    <td><%= channel.tags %></td>
    <td><%= channel.categories %></td>
    <td><%= channel.language %></td>-->
    <td><%= link_to 'Show Videos ', videos_channel_path(channel) %></td>


    <td><%= link_to 'Show', channel_path(channel) %></td>


    <% if can? :update, channel %>
        <td><%= link_to 'Edit', edit_channel_path(channel) %></td>
    <% end %>

    <% if @show_delete %>
	    <% if can? :destroy, channel %>
		<td><%= button_to 'Destroy', channel, confirm: 'Are you sure?', method: :delete %></td>
	    <% end %>
    <% end %>

  </tr>
<% end %>
</table>

<br />

<%= link_to 'Add New Channel', new_user_channel_path(@user) %> |
<%= link_to 'Go to All Channels', channels_path %>

<% if !@show_delete %>
   | <%= link_to "Delete Channel", user_channels_path(@user, :delete_options => 1) %>
<% end %>
| <%= link_to 'User Sign Out', destroy_user_session_path, :method => :delete %>


