<% title "My Channels" %>

<!--<p id="notice"><%= notice %></p>-->
 
<!--<ul><li><%= link_to "Add New Channel", new_user_channel_path(@user) %></li></ul>-->


<% if @channels.count == 0 %>      
  <h5>My channels are not created yet. </h5>
<% else %>
  <h5>Channels: </h5>
<% end %> 
  
<ul>   
       
  <% for chan in @channels %>
    <% if @show_delete %>
       <li>
         <div class="channel-image"><%= image_tag chan.thumbnail_url, :size => "70x50" if chan.thumbnail_url %></div>
	 <p class="post-channeltitle"><span><%= chan.name %></span></p>
         <p class="post-channelid"> <i>#<%= chan.id %></i> <em><%= chan.language %></em> <i><%= Time.parse(chan.created_at.to_s).strftime("Created on %m/%d/%Y") %></i> </p>

          <% if can? :destroy, chan %>
               <br /><%= button_to 'Destroy', chan, confirm: 'Are you sure?', method: :delete  %>
          <% end %>
        </li>
    <% else %>
       <li class="arrow">
	<a href="/channels/<%= chan.id %>/videos">
         <div class="channel-image"><%= image_tag chan.thumbnail_url, :size => "70x50" if chan.thumbnail_url %></div>
	 <p class="post-channeltitle"><span><%= chan.name %></span></p>
         <p class="post-channelid"> <i>#<%= chan.id %></i> <em><%= chan.language %></em> <i><%= Time.parse(chan.created_at.to_s).strftime("Created on %m/%d/%Y") %></i><small class="counter"><%= chan.videos.size %></small> </p>
        </a>
      </li>

     <% end %>
  <% end %>
</ul>

<ul><li><%= link_to "Add New Channel", new_user_channel_path(@user) %></li></ul>
<% if !@show_delete %>
   <ul><li><%= link_to "Delete Channel", user_channels_path(@user, :delete_options => 1) %></li></ul>
<% end %>
<ul><li><%= link_to 'Go to All Channels', channels_path %></li></ul>
<ul><li><%= link_to 'User Sign Out', destroy_user_session_path, :method => :delete %></li></ul>

