<% title 'User Info' %>
<!--<p id="notice"><%= notice %></p>-->

<% if user_signed_in? %>
  <% if current_user.id == @user.id %>
	<p>
	  <b>Email:</b>
	  <%= @user.email %>
	</p>
	<p>
	  <b>Password:</b>
	  <%= @user.password %>
	</p>
  <% end %>
<% end %>

<% if user_signed_in? %>
  <% if current_user.admin? %>
        <%= debug(@user) if Rails.env.development? %>
        <!--<%= logger.info 'print message in show' %>-->
  <% end %>
<% end %>

<%= link_to 'Sign in', user_session_path %> |
<% if user_signed_in? %>
    <%= link_to 'My Channels', user_channels_path(current_user) %>
<% else %>
    <%= link_to 'All Channels', channels_path %>
<% end %>
