<% title 'User Info' %>
<!--<p id="notice"><%= notice %></p>-->

<p>
  <b>Email:</b>
  <%= @user.email %>
</p>
<p>
  <b>Password:</b>
  <%= @user.password %>
</p>

<% if user_signed_in? %>
  <% if current_user.admin? %>
        <%= debug(@user) if Rails.env.development? %>
        <!--<%= logger.info 'print message in show' %>-->
  <% end %>
<% end %>

<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back to Users', users_path %>
