<h1>Forgot your password?</h1>


<% if true %>
<h5>Visit this website: www.videotouch.tv </h5>
<h5>And then go to login section. </h5>
<h5>Click on forgotten password button. </h5>
<% else %>
<%= form_for(resource, :as => resource_name, :url => password_path(resource_name), :html => { :method => :post }) do |f| %>
  <%= devise_error_messages! %>

  <div><%= f.label :email %><br />
  <%= f.email_field :email %></div>

  <div><%= f.submit "Send me reset password instructions" %></div>
<% end %>

<% end %>
<%= render :partial => "devise/shared/links" %>


