<h1>Listing ch_searches</h1>

<table>
  <tr>
    <th>Keywords</th>
    <th>Channel type</th>
    <th>Tags</th>
    <th>Categories</th>
    <th>Language</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @ch_searches.each do |ch_search| %>
  <tr>
    <td><%= ch_search.keywords %></td>
    <td><%= ch_search.channel_type %></td>
    <td><%= ch_search.tags %></td>
    <td><%= ch_search.categories %></td>
    <td><%= ch_search.language %></td>
    <td><%= link_to 'Show', ch_search %></td>
    <td><%= link_to 'Edit', edit_ch_search_path(ch_search) %></td>
    <td><%= link_to 'Destroy', ch_search, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Ch search', new_ch_search_path %>
