<h1>Set default languages</h1>

<% if @user_languages %>
   Current language setting is <%= @user_languages %>
<% end %>

<%= form_tag cookie_assign_path, :method => 'get' do %>
    <%= select_tag :language, options_from_collection_for_select(@languages, "shortname", "name"),
                   :prompt => "All", :placeholder => @user_languages %>
    <%= submit_tag "Set Language", :name => nil, :placeholder => @user_languages %>
<% end %>

<%= link_to 'Go to All Channels', channels_path %>
