

<% if @current_language %>
   Current default language is <%= @current_language.name %>.
<% else %>
   Current default language is not set.
<% end %>
<br /><br />
<h3>Set default language</h3>
<%= form_tag cookie_assign_path, :method => 'get' do %>
    <%= select_tag :language, options_from_collection_for_select(@languages, "shortname", "name"),
                    :placeholder => @user_languages %>
    <%= submit_tag "Set Language", :name => nil, :placeholder => @user_languages %>
<% end %>

<%= link_to 'Go to All Channels', channels_path %>
<!--:prompt => "All",-->
