<footer>
  <nav class="round">
    <ul>
      <!--<li><%= link_to "About", root_path %></li>
      <li><%= link_to "Contact", root_path %></li>
      <li><%= link_to "News", 'http://news.railstutorial.org/' %></li>
      <li><%= link_to "Rails Tutorial", 'http://railstutorial.org/' %></li>-->

      <p>
            <% if mobile_device? %>
                <%= link_to "Full Site", :mobile => 0 %>
            <% else %>
                <%= link_to "Mobile Site", :mobile => 1 %> 
            <% end %>

            <% if signed_in? %>
                 | <%= link_to "Profile", current_user %>
                 <!--| <%= link_to "Users", users_path %>-->
            <% end %>
      </p>


    </ul>
  </nav>
</footer>
