<header>
  <!--<%= link_to logo, root_path %>-->
  <nav2 class="round">
    <ul>
       <%= current_language_name %><%= " VideoTouch.TV" %>  
    </ul>
  </nav2>
  <nav class="round">
    <ul>
      <%= link_to "Home", channels_path( :search => 'selected') %> 
      | <%= link_to 'All Channels', channels_path( :search => nil ) %>
      | <%= link_to 'Set Languages', cookie_new_path %>
      <% if signed_in? %>
          <% if !(current_page?  channels_user_path(current_user) ) %>
             | <%= link_to "My Channels", channels_user_path(current_user) %>
          <% end %>
          | <%= link_to "Sign out", destroy_user_session_path %>
          <% if current_user.admin? %>
               | <%= link_to "Sign up", new_user_path %> 
          <% end %>
      <% else %>
        | <%= link_to "Sign in", new_user_session_path %> | <%= link_to "Sign up", new_user_path %> 
      <% end %>

    </ul>
  </nav>
  <br />
  <nav2 class="round">
    <ul>
       <%= link_to "All", channels_path( :search => '') %>
       | <%= link_to "Selected", channels_path( :search => 'selected') %>
       | <%= link_to "News", channels_path( :categories_search => 'news') %>
       | <%= link_to "Sports", channels_path( :categories_search => 'sports') %>
       | <%= link_to "Drama", channels_path( :categories_search => 'drama') %>
       | <%= link_to "Tech", channels_path( :categories_search => 'tech') %>
       | <%= link_to "Others", channels_path( :categories_search => 'others') %>
    </ul>
  </nav2>
</header>
